@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
